@import "base.css";

::selection { background: #ff6100; color: white; }

/*
 * Elements
 */

body { font-family: Tahoma, Arial; font-size: 13px; color: #666; background-color: #E4E4E4; background-image:url('theme/backend/headerbg_h.png'); background-repeat:repeat-x; }

/* URLs */
a, a:visited { color: #666666; text-decoration: none; font-weight: normal; }
a:hover, a:active { color: #0066CC; text-decoration: none; font-weight: normal; }

h1 { color: #ff6100; }
h2 { }
h3 { }
h4 { }
h5 { }

p { }

/* Table Elements */
table { font-family: Tahoma, Arial; font-size: 13px; color: #666 }
tr { }
th { }
tr { }

/* Form Elements */
form {  }
fieldset { border: none; }
textarea { background-image: url('theme/bg_textbox.png'); background-repeat: repeat-x; border: 1px solid silver; border-radius: 5px; padding: 5px 10px 5px 10px }
input { border: 1px solid silver; border-radius: 5px; background-image:url('theme/bg_textbox.png'); font-family: Tahoma, Arial; font-size: 14px; color: #666666; }
input[type=text] { width: 300px; height: 22px !important; padding: 0px 10px }
input[type=submit],input[type=reset] { height: 26px; background-image: url('theme/bg_button.png'); color: #666666; } /* height = input["text"].height + 4px */
input[type=file] { height: 26px; } /* height = input["text"].height + 4px */
button, input[type=button] { border: 1px solid silver; border-radius: 5px; height: 26px; background-image: url('theme/bg_button.png'); color: #666666; } /* height = input["text"].height + 4px */
button img { vertical-align: bottom; }
select { margin: 0px; padding: 0px 10px; border: 1px solid silver; border-radius: 5px; background-image: url('theme/bg_textbox.png'); height: 26px; }

/*
 * Classes
 */

h1.page-title { }

.cms-message { border: 2px solid silver; }
.cms-message h2 { font-size: 14px }
.cms-message .text { }

/* Form */
.form-errors { }
.form-group { margin-bottom: 20px }
.form-group.space-top {  }
.form-group label { display: inline-block; min-width: 15%; padding-right: 20px; cursor: pointer; }
.form-group label:after { /* content: ':'; */ }
.form-group input { width: 40%; padding: 5px 10px; color: #4082E3 }
.form-group input[type=text]:focus, .form-group input[type=password]:focus { border-color: #ff6100; }
.form-group textarea { vertical-align: bottom; }
.form-actions { }
.form-actions input[type=submit] { padding: 10px 20px; border: 1px solid silver; color: #666; }
.form-actions input[type=submit]:focus { border-color: #ff6100; }

/* Content Table */
.content-table { width: 100%; border: 1px solid #EFEFEF; border-collapse: collapse; }
.content-table th { height: 30px; padding-left: 5px; line-height:30px; background-image: url(theme/backend/bg_tablehead.png); background-repeat: repeat-x; font-weight:bold; text-align: left }
.content-table th a, .content-table th a:visited { color: gray; font-weight: bold } 
.content-table td { padding: 5px; border: 1px solid #EFEFEF; background-image: url(theme/backend/bg_tablecell.png); background-repeat: repeat-x; background-position: left bottom; }
.content-table tr:hover { color:#333333 }

.form-helpers { margin: 10px 0px }

.order-switcher { display: inline-block; margin: 10px 0px; padding: 3px 7px; border-radius: 3px; background-color: #333; color: white !important }
.order-switcher img { vertical-align: middle; }
.form-helpers .order-switcher { margin: 0px }

ul.pagination li { position: relative; width: 8px; height: 16px; margin: 0px 2px; padding: 2px 6px; border: 1px solid #C6C6C6; border-radius: 5px; background-color: #EFEFEF; font-weight: bold }
ul.pagination li a { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; line-height: 20px; text-align: center; font-weight: bold }
ul.pagination li a:hover { background-color: #C6C6C6; color: #FF6100 }
ul.pagination li.active { border: 1px solid #936E41; background-color: #FF6100; color: white }
ul.pagination li.disabled { display: none }
.form-helpers ul.pagination { float: right; }

/*
 * Mainlayout
 */

body { background-image: url(theme/backend/background.png); background-color: white }

#page-container { width: 986px; margin-left: auto; margin-right: auto }
#header { position: relative; width: 100%; height: 219px; background-image:url(theme/backend/header.png) }
#header-logo { position: absolute; background-image:url(theme/empty.png); width: 270px; height: 92px }

/* Header Nav */
.hnav { position: absolute; background-image:url(theme/backend/headernav.png); top: 0px; height: 63px }
#hnav1 { background-position: 0px 0px; left: 559px; width: 62px }
#hnav1:hover { background-position: 0 -63px }
#hnav2 { background-position: -62px 0px; left: 621px; width: 85px }
#hnav2:hover { background-position: -62px -63px }
#hnav3 { background-position: -147px 0px; left: 706px; width: 61px }
#hnav3:hover { background-position: -147px -63px }
#hnav4 { background-position: -208px 0px; left: 767px; width: 57px }
#hnav4:hover { background-position: -208px -63px }
#hnav5 { background-position: -265px 0px; left: 824px; width: 79px }
#hnav5:hover { background-position: -265px -63px }
.quicklink { position: absolute; background-image:url(theme/empty.png); top: 160px; width: 13px; height: 19px }

#user-img { position: absolute; display: block; left: 6px; top: 112px; width: 45px; height: 60px }
#user-img-overlay { position: absolute; display: block; left: 6px; top: 112px; z-index: 2 }
#profile-link { position: absolute; display: block; background-image: url(theme/empty.png); left: 6px; top: 112px; width: 45px; height: 60px; z-index: 3 }
#info-box { position: absolute; display: block; left: 72px; top: 120px; width: 180px; height: 50px; overflow: hidden; color: white; text-shadow: #404040 0px 1px 1px }
#info-box span { display: block; margin-bottom: 10px }
#info-box img { vertical-align: middle; }
#info-box a { color: inherit }
#info-bar { position: absolute; display: block; left: 670px; top: 95px; width: 230px; color: white; font-size: 11px; text-align: center }
#tecslink { position: absolute; background-image:url(theme/empty.png); left: 931px; top: 92px; width: 15px; height: 20px }

#content-wrapper { width: 100%; min-height: 785px; padding-bottom: 100px; background-image:url(theme/backend/contentbg.png); }
#sidebar { float: left; width: 237px; padding: 0px 15px 0px 20px }

/* Sidebar Nav */
.menuhead { display: block; height: 51px; color: #FFFFFF; cursor: pointer; }
.menuhead.daily { background-image: url(theme/backend/nav_header_daily.png) }
.menuhead.perma { background-image: url(theme/backend/nav_header_perma.png) }
.menuhead.esports { background-image: url(theme/backend/nav_header_esport.png) }
.menuhead.website { background-image: url(theme/backend/nav_header_website.png) }
.selected {  }
.submenu a, .submenu a:visited { position: absolute; left: 0px; top: 0px; width: 233px; height: 100%; color: #CCCCCC; z-index: 2 }
.submenu a:hover, submenu a:active { color: #ff6100 }
.submenu img { position: absolute; left: 28px; }
.menu1 { position: relative; background-image: url(theme/backend/nav_item_top.png); text-indent: 60px; height: 46px; line-height: 54px; }
.menu1 img { top: 20px }
.menu2 { position: relative; background-image: url(theme/backend/nav_item_mid.png); text-indent: 60px; height: 38px; line-height: 38px; }   
.menu2 img { top: 13px }
.menu3 { position: relative; background-image: url(theme/backend/nav_item_bot.png); text-indent: 60px; height: 49px; line-height: 42px;  }  
.menu3 img { top: 13px }
.menubottom { background-image: url(theme/backend/menu_bottom.png); height: 17px }
.applemenu { /*dont remove this class*/ }
.applemenu div.submenu { /*DIV that contains each sub menu*/ /*dont remove this class*/ }

#page { width: 686px; margin-left: 275px; }

#footer { position: relative; width: 982px; height: 76px; margin-left: 2px; background-image: url(theme/backend/footer.png); }
#footer a { display: block; position: absolute; background-image: url(theme/empty.png); left: 114px; top: 30px; width: 45px; height: 35px }


