@import "base.css";

/*
 * Elements
 */

body { font-family: Verdana; font-size: 14px; color: #555 }

/* URLs */
a, a:visited { color: #ff6100; text-decoration: none; font-weight: normal; }
a:active { color: #ff6100; text-decoration: none; font-weight: normal; }
a:hover { color: #ff6100; text-decoration: none; font-weight: normal; }

/* Headings */
h1 { color: #ff6100; }
h2 { }
h3 { }
h4 { }
h5 { }

p { }

/* Table Elements */
table { font-family: Verdana; border-collapse: collapse; }
tr { }
th { }
td { vertical-align: top }

/* Form Elements */
form {  }
fieldset { border: none; }
input { font-family: Verdana; font-size: 14px }
textarea { font-family: Verdana; font-size: 14px }
input[type=submit], button{ padding: 10px 20px; border: 2px solid silver; color: #666; }
input[type=submit]:focus, button:focus { border-color: #ff6100; }

blockquote { background: #F4F4F4; border: 1px dotted gray; padding: 5px; margin: 5px; }

/*
 * Classes
 */

h1.page-title { }

/* Messages */
.ui-message { border: 2px solid silver; }
.ui-message h2 { font-size: 14px; }
.ui-message .text { }

/* Alert */
.alert { border: 2px solid silver; }
.alert h2 { font-size: 14px; }
.alert button { padding: 0px 10px }

/* Form */
.form-errors { }
.form-group { margin-bottom: 20px }
.form-group.space-top {  }
.form-group label { display: inline-block; width: 25%; padding-right: 20px; text-align: right; cursor: pointer; word-wrap: break-word; }
.form-group label:after { /* content: ':'; */ }
.form-group input { width: 40%; padding: 5px 10px; border: 2px solid silver; color: #4082E3 }
.form-group input[type=text]:focus, .form-group input[type=password]:focus, .form-group input[type=url]:focus { border-color: #ff6100; }
.form-group textarea { vertical-align: bottom; }
.form-actions { }
.form-actions input[type=submit], .form-actions button { margin-right: 10px; }

/* Content Table */
.content-table { width: 100%; }
.content-table th { text-align: left }

/* Slider Default Styling - Feel free to overwrite */
.slider { position: relative; width: 100%; height: 245px; /* Height of a single slide */ }
.slider .slides { position: absolute; left: 0px; top: 0px; width: 100%; height: 100% }
.slider .slides ul { position: relative; width: 100%; height: 100%; overflow: hidden; }
.slider .slides ul li { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }
.slider .to-left { position: absolute; left: 0px; top: 40%; width: 35px; height: 35px; line-height: 35px; background-color: rgba(0, 0, 0, 0.5); color: white; text-align: center; }
.slider .to-right { position: absolute; right: 0px; top: 40%; width: 35px; height: 35px; line-height: 35px; background-color: rgba(0, 0, 0, 0.5); color: white; text-align: center }
.slider .to-left:hover, .slider .to-right:hover { background-color: rgba(0, 0, 0, 1); }
.slider .buttons { position: absolute; right: 20px; bottom: 20px; }
.slider .buttons li { width: 30px; height: 30px; line-height: 30px; margin-left: 3px; background-color: rgba(0, 0, 0, 0.5); color: white; cursor: pointer; text-align: center; }
.slider .buttons li.active{ background-color: rgba(0, 0, 0, 1); }
.slider .slide-title { position: absolute; margin: 0px; left: 20px; bottom: 20px; color: white; text-shadow: 0px 0px 3px black; }

.scroller { overflow-x: hidden; }
.scroller ul {  }
.scroller li { width: 100% }

/*
 * Modules
 */

.create-comment { margin-top: 20px }
.create-comment .textarea-wrapper { margin: 20px 0px; padding: 0px 20px }
.create-comment p { margin: 0px }
.create-comment textarea { width: 100%; height: 70px; margin-left: -20px; padding: 10px 20px; border: 2px solid silver; color: #666; }
.create-comment textarea:focus { border-color: #ff6100; }

.widget-partners img.filter { filter: grayscale(1); -webkit-filter: grayscale(1); transition: all 0.8s ease; }
.widget-partners img.filter:hover { filter: grayscale(0); -webkit-filter: grayscale(0); transition: all 0.2s ease; }

.page-videos .video { float: left; width: 33%; text-align: center; }
.page-videos .video img { width: 90% }

.page-videos .video-player iframe { width: 100%; border: none }

.widget-videos img.cover { max-width: 100% }

.page-galleries .galleries .item { float: left; display: block; width: 20%; height: 100px; overflow: hidden }
.page-galleries .galleries .image { width: 100%; height: 100%; background-size: cover; background-position: center; background-repeat: no-repeat; transition: all 0.3s ease; }
.page-galleries .galleries .image:hover { transform: scale(1.1, 1.1); transition: all 0.3s ease; }

.page-galleries .images .image { text-align: center; }
.page-galleries .images .image img { max-width: 100%; max-height: 500px; cursor: zoom-in; }
.page-galleries .images .previews-wrapper { position: relative; height: 100px; overflow: hidden }
.page-galleries .images .previews { height: 100%; }
.page-galleries .images .previews .item { float: left; display: block; width: 100px; height: 100%; overflow: hidden; }
.page-galleries .images .previews .image { width: 100%; height: 100%; background-size: cover; background-position: center; background-repeat: no-repeat; transition: all 0.3s ease; }
.page-galleries .images .previews .image:hover { transform: scale(1.1, 1.1); transition: all 0.3s ease; }
.page-galleries .images .previews .item.active {  }
.page-galleries .images .previews-wrapper .link { opacity: 0.5; position: absolute; top: 0px; height: 100%; width: 50px; line-height: 100px; background-color: rgba(0, 0, 0, 0.5); color: white; text-align: center; }
.page-galleries .images .previews-wrapper:hover .link { opacity: 1 }
.page-galleries .images .previews-wrapper .to-left { left: 0px; }
.page-galleries .images .previews-wrapper .to-right { right: 0px; }

.widget-galleries li { width: 20%; height: 100px }
.widget-galleries .item { display: block; width: 100%; height: 100% }
.widget-galleries .item div { width: 100%; height: 100% }

.page-downloads .downloadcats .downloadcat { display: block; float: left; width: 100px; margin: 0px 20px 20px 20px; text-align: center; }
.page-downloads .downloads .download { display: block; float: left; width: 100px; margin: 0px 20px 20px 20px; text-align: center; background-image: url(theme/file.png); background-position: center top; background-repeat: no-repeat; }
.page-downloads .downloads .download a { display: block; padding-top: 100px; background-position: center 20px; background-repeat: no-repeat; }

.page-matches {  }
.page-matches .overview div { width: 33%; text-align: center; float: left }
.page-matches .overview div > span { display: block }
.page-matches .overview .mid { padding-top: 40px; font-size: 30px; }
.page-matches .overview .mid .left-win { color: green }
.page-matches .overview .mid .left-lose { color: red }
.page-matches .overview .mid .left-draw { color: orange }
.page-matches .details { margin-bottom: 20px; padding-top: 20px; }
.page-matches div.scores .item { width: 33%; float: left; text-align: center; }
.page-matches div.scores .item:nth-child(n+4) { margin-top: 20px } /* Will only affect the 4th, 5th etc. item */
.page-matches div.scores .item img { max-width: 100%; }
.page-matches div.scores .item span { display: block; }

.widget-matches-latest li { position: relative; }
.widget-matches-latest li img { float: left; margin-right: 10px }
.widget-matches-latest li .scores { position: absolute; right: 0px; top: 0px; }
.widget-matches-latest li .scores .win { color: green }
.widget-matches-latest li .scores .lose { color: red }
.widget-matches-latest li .scores .draw { color: orange }

/*
 * Mainlayout
 */

#page-container { width: 960px; min-height: 1080px; margin-left: auto; margin-right: auto; box-shadow: 0px 0px 5px 2px #EEE }
.page { }

#header { height: 100px; padding-left: 40px; background-color: #EEE }
#header h2 { margin: 0px; line-height: 100px; }

#mid-container { padding: 20px 40px 0px 40px; }
#content { width: 66%; float: left }
#sidebar { width: 33%; margin-left: 66% }

#sidebar { padding-left: 40px }
