/*
* Elements
*/

body { margin: 0px; padding: 0px; font-family: Verdana; font-size: 14px; color: #555 }

img { border: 0px; }

a, a:visited { color: #ff6100; text-decoration: none; font-weight: normal; }
a:active { color: #ff6100; text-decoration: none; font-weight: normal; }
a:hover { color: #ff6100; text-decoration: none; font-weight: normal; }

h1 { color: #ff6100; }
h2 { }
h3 { }
h4 { }
h5 { }

p { }

table { width: 100%; border-collapse:collapse }
tr { }
th { }
tr { }

form { width: 100%; margin: 0px; padding: 0px }
input { font-family: Verdana; font-size: 14px }

blockquote { background: #F4F4F4; border: 1px dotted gray; padding: 5px; margin: 5px; }

/*
* Classes
*/

.clear { clear: both }
.hidden { display: none }
.center-h { text-align: center; }

h1.page-title { }

ul.layout-h { list-style: none; margin: 0px; padding: 0px }
ul.layout-h li { display: list-item; float: left; margin: 0px; }

ul.layout-v { list-style: none; margin: 0px; padding: 0px }
ul.layout-v li { margin: 0px; float: none }

.cms-message { border: 2px solid silver; }
.cms-message h2 { font-size: 14px }
.cms-message .text { }

.form-errors { }
.form-group { margin-bottom: 20px }
.form-group.space-top {  }
.form-group label { display: inline-block; min-width: 33%; padding-right: 20px; text-align: right; cursor: pointer; }
.form-group label:after { /* content: ':'; */ }
.form-group input { width: 40%; padding: 5px 10px; border: 2px solid silver; color: #4082E3 }
.form-group input[type=text]:focus, .form-group input[type=password]:focus { border-color: #ff6100; }
.form-actions { }
.form-actions input[type=submit] { padding: 10px 20px; border: 2px solid silver; color: #666; }
.form-actions input[type=submit]:focus { border-color: #ff6100; }

/*
* Mainlayout
*/

#page-container { width: 960px; min-height: 1080px; margin-left: auto; margin-right: auto; box-shadow: 0px 0px 5px 2px #EEE }
#page { }

#header { height: 100px; padding-left: 40px; background-color: #EEE }
#header h2 { margin: 0px; line-height: 100px; }

#mid-container { padding: 20px 40px 0px 40px; }
#content { width: 66%; float: left }
#sidebar { width: 33%; margin-left: 66% }

#sidebar ul { margin-left: 40px }
