@import "base.css";

/*
 * Elements
 */

body { font-family: Verdana; font-size: 14px; color: #555 }

/* URLs */
a, a:visited { color: #ff6100; text-decoration: none; font-weight: normal; }
a:active { color: #ff6100; text-decoration: none; font-weight: normal; }
a:hover { color: #ff6100; text-decoration: none; font-weight: normal; }

/* Headings */
h1 { color: #ff6100; }
h2 { }
h3 { }
h4 { }
h5 { }

p { }

/* Table Elements */
table { font-family: Verdana; border-collapse: collapse; }
tr { }
th { }
td { vertical-align: top }

/* Form Elements */
form {  }
fieldset { border: none; }
input { font-family: Verdana; font-size: 14px }
textarea { font-family: Verdana; font-size: 14px }
input[type=submit], button{ padding: 10px 20px; border: 2px solid silver; color: #666; }
input[type=submit]:focus, button:focus { border-color: #ff6100; }

blockquote { background: #F4F4F4; border: 1px dotted gray; padding: 5px; margin: 5px; }

/*
 * Classes
 */

h1.page-title { }

/* Messages */
.cms-message { border: 2px solid silver; }
.cms-message h2 { font-size: 14px }
.cms-message .text { }

/* Form */
.form-errors { }
.form-group { margin-bottom: 20px }
.form-group.space-top {  }
.form-group label { display: inline-block; width: 25%; padding-right: 20px; text-align: right; cursor: pointer; word-wrap: break-word; }
.form-group label:after { /* content: ':'; */ }
.form-group input { width: 40%; padding: 5px 10px; border: 2px solid silver; color: #4082E3 }
.form-group input[type=text]:focus, .form-group input[type=password]:focus, .form-group input[type=url]:focus { border-color: #ff6100; }
.form-group textarea { vertical-align: bottom; }
.form-actions { }
.form-actions input[type=submit], .form-actions button { margin-right: 10px; }

/* Slider Default Styling - Feel free to overwrite */
.slider { position: relative; width: 100%; height: 245px; /* Height of a single slide */ }
.slider .slides { position: absolute; left: 0px; top: 0px; width: 100%; height: 100% }
.slider .slides ul { position: relative; width: 100%; height: 100%; overflow: hidden; }
.slider .slides ul li { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }
.slider .to-left { position: absolute; left: 0px; top: 40%; width: 35px; height: 35px; line-height: 35px; background-color: rgba(0, 0, 0, 0.5); color: white; text-align: center; }
.slider .to-right { position: absolute; right: 0px; top: 40%; width: 35px; height: 35px; line-height: 35px; background-color: rgba(0, 0, 0, 0.5); color: white; text-align: center }
.slider .to-left:hover, .slider .to-right:hover { background-color: rgba(0, 0, 0, 1); }
.slider .buttons { position: absolute; right: 20px; bottom: 20px; }
.slider .buttons li { width: 30px; height: 30px; line-height: 30px; margin-left: 3px; background-color: rgba(0, 0, 0, 0.5); color: white; cursor: pointer; text-align: center; }
.slider .buttons li.active{ background-color: rgba(0, 0, 0, 1); }

/*
 * Modules
 */

.create-comment { margin-top: 20px }
.create-comment .textarea-wrapper { margin: 20px 0px; padding: 0px 20px }
.create-comment p { margin: 0px }
.create-comment textarea { width: 100%; height: 70px; margin-left: -20px; padding: 10px 20px; border: 2px solid silver; color: #666; }
.create-comment textarea:focus { border-color: #ff6100; }

.page-videos .video { float: left; width: 33%; text-align: center; }
.page-videos .video img { width: 90% }

.page-videos .video-player iframe { width: 100%; border: none }

.page-galleries .galleries .item { float: left; display: block; width: 20%; height: 100px; overflow: hidden }
.page-galleries .galleries .image { width: 100%; height: 100%; background-size: cover; background-position: center; background-repeat: no-repeat; transition: all 0.3s ease; }
.page-galleries .galleries .image:hover { transform: scale(1.1, 1.1); transition: all 0.3s ease; }

.page-galleries .images .image { text-align: center; }
.page-galleries .images .image img { max-width: 100%; max-height: 500px; }
.page-galleries .images .previews-wrapper { height: 100px; overflow: hidden }
.page-galleries .images .previews { height: 100%; }
.page-galleries .images .previews .item { float: left; display: block; width: 100px; height: 100%; overflow: hidden }
.page-galleries .images .previews .image { width: 100%; height: 100%; background-size: cover; background-position: center; background-repeat: no-repeat; transition: all 0.3s ease; }
.page-galleries .images .previews .image:hover { transform: scale(1.1, 1.1); transition: all 0.3s ease; }
.page-galleries .images .previews .item.active .image { transform: scale(1.1, 1.1); transition: all 0.3s ease; }

/*
 * Mainlayout
 */

#page-container { width: 960px; min-height: 1080px; margin-left: auto; margin-right: auto; box-shadow: 0px 0px 5px 2px #EEE }
.page { }

#header { height: 100px; padding-left: 40px; background-color: #EEE }
#header h2 { margin: 0px; line-height: 100px; }

#mid-container { padding: 20px 40px 0px 40px; }
#content { width: 66%; float: left }
#sidebar { width: 33%; margin-left: 66% }

#sidebar { padding-left: 40px }
